@model CourseProject.Models.Subject

@{
    ViewBag.Title = "Видалити";
}

<h2>Видалити</h2>

<h3>Ви впевнені, що хочете видалити запис?</h3>
<fieldset>
    <legend>Subject</legend>

    <div class="display-label">
         <h3><label>ID предмету</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Subject_ID)
    </div>

    <div class="display-label">
         <h3><label>Назва</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Видалити" /> |
        @Html.ActionLink("Назад до списку", "Index")
    </p>
}
