@model CourseProject.Models.LessonType

@{
    ViewBag.Title = "Деталі";
}

<h2>Деталі</h2>

<fieldset>
    <legend>LessonType</legend>

    <div class="display-label">
         <h3><label>ID типу заняття</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Lesson_ID)
    </div>

    <div class="display-label">
         <h3><label>Тип</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Type)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id=Model.Lesson_ID }) |
    @Html.ActionLink("Назад до списку", "Index")
</p>
