@model CourseProject.Models.Classroom

@{
    ViewBag.Title = "Видалити";
}

<h2>Видалити</h2>

<h3>Ви впевнені, що хочете видали запис?</h3>
<fieldset>
    <legend>Аудиторія</legend>

    <div class="display-label">
         <h3><label>ID аудиторії</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Room_ID)
    </div>

    <div class="display-label">
         <h3><label>Номер</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Видалити" /> |
        @Html.ActionLink("Назад до списку", "Index")
    </p>
}
