@model CourseProject.Models.Classroom

@{
    ViewBag.Title = "Деталі";
}

<h2>Деталі</h2>

<fieldset>
    <legend>Аудиторія</legend>

    <div class="display-label">
         <h3><label>ID аудиторії</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Room_ID)
    </div>

    <div class="display-label">
         <h3><label>Номер</label></h3>
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Number)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Редагувати", "Edit", new { id=Model.Room_ID }) |
    @Html.ActionLink("Назад до списку", "Index")
</p>
