@{
    ViewBag.Title = "Домашняя страница";
}
@section featured {
    <div id="intro">
  <div class="inner">
    <div class="wrap clearFix">
      <h1><strong>Now it is easy</strong></h1>
      <p style="font-size:20px; text-align:justify; color:#FF5656" >The project has been developed with purpose to make comfortable service for scheduling. Our main goal is to save more time for people, which make schedule. Our service is clear and easy to use for everybody.</p>
        <a href="@Url.Action("Index", "Schedule")" class="button">TRY IT</a>
   </div>
  </div>
</div>
}


<h3>Possibilities:</h3>
<ol class="round">
    <li class="one">
        <h4><strong>Upload schedule from .CSV file</strong></h4>
        <p style="font-size:18px">
        Now you haven't to create separate each lesson, you just can upload file with schedule and it will automatically be added to database.
        </p>
    </li>

    <li class="two">
        <h4>Copy schedule</h4>
        <p style="font-size:18px">
        If you have the schedule from the last year, you can copy it for the next year and just correct some records.
        </p>
    </li>

    <li class="three">
        <h4>Checking all records</h4>
        <p style="font-size:18px">
        Our service checks all records you have added, and notify about errors.
        </p>
    </li>

    <li class="four">
        <h4>And many others...</h4>
        <p></p>        
    </li>
</ol>


