@{
    ViewBag.Title = "Дипломний проект";
}
@section featured {
    <div id="intro">
  <div class="inner">
    <div class="wrap clearFix">
      <h1><strong>Тепер простіше</strong></h1>
      <p style="font-size:20px; text-align:justify; color:#FF5656" >Проект розроблений з метою створення зручного сервісу для заповнення бази даних,
          необхідної для навчального процесу, та складання розкладу зокрема. Даний сервіс є зручним та лекгим у використанні для будь-кого, що допоможе зберегти велику кількість часу.
      </p>
        <a href="@Url.Action("Index", "Schedule")" class="button">СПРОБУЙ</a>
   </div>
  </div>
</div>
}


<h3>Можливості:</h3>
<ol class="round">
    <li class="one">
        <h4><strong>Завантаження розкладу з .CSV файлу</strong></h4>
        <p style="font-size:18px">
        Тепер нема необхідності заповнювати кожну пару окремо, ви можете просто завантажити файл з рокладом і система автоматично додасть його в базу даних.
        </p>
    </li>

    <li class="two">
        <h4>Копіювання розкладу</h4>
        <p style="font-size:18px">
        Якщо ви маєте розклад з попереднього року, ви можете його скопіювати на наступний і просто внести необхідні корекції.
        </p>
    </li>

    <li class="three">
        <h4>Перевірка всіх записів</h4>
        <p style="font-size:18px">
        Даний сервіс перевіряє всі записи, які ви додаєте, і сповіщає про наявні помилки.
        </p>
    </li>

    <li class="four">
        <h4>Та багато іншого...</h4>
        <p></p>        
    </li>
</ol>


